<h1>Listar produtos</h1>

{{#each produtos}}
  ID:
  {{id}}
  <br />

  Nome:
  {{nome}}
  <br />
  Quantidade:
  {{quantidade}}
  <br />
  Preço:
  {{preco}}
  <br />
  Prateleira:
  {{prateleira}}
  <br />
  Descricao:
  {{descricao}}
  <br />
  Categoria:
  {{categoria}}
  <br />
  Cadastrado:
  {{#formatDate createdAt}}{{/formatDate}}
  <br />
  <br />
  <a href="/del-pagamento/{{id}}"><button>Apagar</button></a>
  <hr />
{{/each}}